<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials.html :: head(title)">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials.html :: navbar"></nav>

<h1>Update Inventory</h1>

<div sec:authorize="isAuthenticated()">

    <form th:action="@{/item/edit/{id} (id=${item.id})}" th:method="post" th:object="${item}">
        <label for="name">Item</label>
        <input th:field="*{name}" id="name">
        <label for="quantity">Quantity</label>
        <input th:field="*{quantity}" id="quantity">
        <label for="cost">Cost</label>
        <input th:field="*{cost}" id="cost">
        <input type="submit" value="save">
    </form>
</div>

</body>
</html>