<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials.html :: head(title)">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials.html :: navbar"></nav>

<h1>LiveFree Homepage</h1>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>

    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        <tr th:each="item: ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td><a th:href="@{/item/edit/{id} (id=${item.id})}" th:method="get">Edit</a></td>
        </tr>
    </table>
    <hr>
    <form th:action="@{/item/create}" th:method="post" th:object="${newItem}">
        Item Name
        <input th:field="*{name}" />
        <br />
        Quantity
        <input th:field="*{quantity}" />
        <br />
        <input type="submit" />
    </form>
</div>

</body>
</html>